.consultant {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
    }
    .about-seller {
        max-width: 680px;

        @include desktop {
            max-width: 800px;
        }
    }
    .top-seller__picture {
        top: 0;
    }
}
