.pie-chart {
    display: flex;

    &__graph {
        flex-grow: 1;
        flex-shrink: 0;
        padding-right: $size-7;
    }

    &__info {
        padding-left: $size-7;
        flex-shrink: 1;
        flex-grow: 1;
        padding-left: 0.75rem;
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
