@import 'bulma/sass/utilities/_all.sass';

$red: #cb1a1a;
$separator-color: #d4d6d7;
$text-color: #273138;
$link: #3ba5d6;

@import 'bulma/sass/base/_all.sass';

body {
    font-family: sans-serif;
    min-width: 1120px;
    font-size: 17px;
    color: $text-color;
}

a {
    &:hover {
        opacity: 0.8;
    }
}

.button {
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 14px;
    color: white;

    &_red {
        background-color: $red;
    }

    &:hover {
        color: white;
        opacity: 0.8;
    }
}

ul {
    &.list {
        list-style: disc inside;
    }

    li {
        &.list__item {

        }
    }
}

.arrowed-toggler {
    padding-right: 20px;

    &:before {
        display: block;
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-color: $link;
        border-style: solid;
        border-width: 0 0 2px 2px;
        right: 0;
        top: 50%;
        transform-origin: 50%;
        transform: translateY(-80%) rotateZ(-45deg);

    }
    &:hover {
        border-color: #000;

        &:before {
            border-color: #000;
        }
    }

    &_open {
        &:before { 
            transform: translateY(-23%) rotateZ(135deg);
        }
    }
}

.info-pair {
    &__row {
        display: flex;
        margin-bottom: 16px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__type {
        flex-shrink: 0;
        width: 45%;
    }
    &__definition {
        flex-grow: 1;
        font-weight: bold;
    }
    &__point {
        position: absolute;
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &_justified {
        .info-pair__type {
            width: 60%;
        }
        .info-pair__definition {
            text-align: right;
        }
    }
    &_left-padded {
        .info-pair__type {
            padding-left: 30px;
        } 
    }
}

.cols {
    display: flex;
    justify-content: space-between;

    &_3 {
        .col {
            width: 32%;
            max-width: 32%;
        }
    }
    &_2 {
        .col {
            width: 50%;
            max-width: 50%;
        }
    }

    .col {
        flex-grow: 1;
    }
}

.important-note {
    border-left: solid 8px $red;
    padding-left: 20px;
    margin-bottom: 32px;
}

.section {
    border-bottom: solid 1px $separator-color;

    &.gray {
        background-color: #f8f8f8;
        border-bottom: none;
    }
    &.without-separator {
        border-bottom: none;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    padding: 32px 50px;

    &_vertical {
        flex-direction: column;
    }
}

.offset-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1em;
    line-height: 35px;
    position: relative;
    padding-left: 50px;
    left: -50px;

    img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.main-header {
    margin-bottom: 0;

    .container {
        height: 88px;
    }
    .logo {
        img {
            display: block;
        }
    }
    .left {
        display: flex;
        align-items: center;
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;

        .button_red {
            margin-right: 25px;
        }
    }
}

.seller {
    margin-bottom: 0;

    .container {
        height: 109px;
        align-items: center;
    }
    .photo {
        margin-right: 20px;

        &-image {
            border: 2px solid white;
            background-size: cover;
            box-shadow: 0 9px 42px rgba(0,0,0,0.1);
            border-radius: 50%;
            width: 109px;
            height: 109px;
            position: relative;
            bottom: -15px;
        }
    }
    .info-pair {
        flex-grow: 1;
        opacity: 0.8;

        &__row {
            margin-bottom: 0;
        }
        &__type {
            width: 100px;
        }
    }
    .seller-link {
        font-size: 15px;
        color: #676e73;
        text-transform: none;
        line-height: 24px;
        position: relative;
        padding-left: 34px;

        &:last-child {
            margin-left: 50px;
        }

        img {
            position: absolute;
            left: 0;
        }
    }
}

.view360 {
    height: 630px;
    text-align: center;
}

.data {
    .left {
        flex-grow: 1;
    }
    .right {
        width: 380px;
    }
    .main {
        border-bottom: solid 1px $separator-color;
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    .area {
        font-size: 22px;
    }
    .price {
        color: $red;
        font-size: 36px;
    }
    .info-pair__row {
        margin-bottom: 16px;
    }
    .info-pair__type {
        width: 260px;
    }
    .info-pair__definition {
        font-weight: bold;
    }
}

.transport {
    .info-pair {
        width: 70%;
    }
}
